/*! tailwindcss v2.1.4 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e7e5e4; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #a8a29e;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a8a29e;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a8a29e;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

* {
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
}


      [type='text'],
      [type='email'],
      [type='url'],
      [type='password'],
      [type='number'],
      [type='date'],
      [type='datetime-local'],
      [type='month'],
      [type='search'],
      [type='tel'],
      [type='time'],
      [type='week'],
      [multiple],
      textarea,
      select
     {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: #fff;
	border-color: #78716c;
	border-width: 1px;
	border-radius: 0px;
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #78716c;
	opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #78716c;
	opacity: 1;
}

input::placeholder, textarea::placeholder {
	color: #78716c;
	opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

::-webkit-date-and-time-value {
	min-height: 1.5em;
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%2378716c' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	-webkit-print-color-adjust: exact;
	        color-adjust: exact;
}

[multiple] {
	background-image: initial;
	background-position: initial;
	background-repeat: unset;
	background-size: initial;
	padding-right: 0.75rem;
	-webkit-print-color-adjust: unset;
	        color-adjust: unset;
}


      [type='checkbox'],
      [type='radio']
     {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
	        color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563eb;
	background-color: #fff;
	border-color: #78716c;
	border-width: 1px;
}

[type='checkbox'] {
	border-radius: 0px;
}

[type='radio'] {
	border-radius: 100%;
}


      [type='checkbox']:focus,
      [type='radio']:focus
     {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 2px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}


      [type='checkbox']:checked,
      [type='radio']:checked
     {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

[type='checkbox']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}


      [type='checkbox']:checked:hover,
      [type='checkbox']:checked:focus,
      [type='radio']:checked:hover,
      [type='radio']:checked:focus
     {
	border-color: transparent;
	background-color: currentColor;
}

[type='checkbox']:indeterminate {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}


      [type='checkbox']:indeterminate:hover,
      [type='checkbox']:indeterminate:focus
     {
	border-color: transparent;
	background-color: currentColor;
}

[type='file'] {
	background: unset;
	border-color: inherit;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-size: unset;
	line-height: inherit;
}

[type='file']:focus {
	outline: 1px auto -webkit-focus-ring-color;
}
.container {
	width: 100%;
}
@media (min-width: 640px) {

	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {

	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {

	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {

	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {

	.container {
		max-width: 1536px;
	}
}
.relative {
	position: relative !important;
}
.fixed {
	position: fixed !important;
}
.sticky {
	position: sticky !important;
}
.top-0 {
	top: 0px !important;
}
.right-0 {
	right: 0px !important;
}
.z-0 {
	z-index: 0 !important;
}
.col-span-2 {
	grid-column: span 2 / span 2 !important;
}
.col-span-3 {
	grid-column: span 3 / span 3 !important;
}
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.my-12 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}
.ml-3 {
	margin-left: 0.75rem !important;
}
.-ml-px {
	margin-left: -1px !important;
}
.mb-4 {
	margin-bottom: 1rem !important;
}
.mt-1 {
	margin-top: 0.25rem !important;
}
.mt-4 {
	margin-top: 1rem !important;
}
.ml-2 {
	margin-left: 0.5rem !important;
}
.mr-4 {
	margin-right: 1rem !important;
}
.mt-12 {
	margin-top: 3rem !important;
}
.ml-4 {
	margin-left: 1rem !important;
}
.ml-1 {
	margin-left: 0.25rem !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.mr-2 {
	margin-right: 0.5rem !important;
}
.mt-8 {
	margin-top: 2rem !important;
}
.ml-12 {
	margin-left: 3rem !important;
}
.-mt-px {
	margin-top: -1px !important;
}
.mb-12 {
	margin-bottom: 3rem !important;
}
.mt-3 {
	margin-top: 0.75rem !important;
}
.ml-6 {
	margin-left: 1.5rem !important;
}
.block {
	display: block !important;
}
.inline {
	display: inline !important;
}
.flex {
	display: flex !important;
}
.inline-flex {
	display: inline-flex !important;
}
.table {
	display: table !important;
}
.grid {
	display: grid !important;
}
.hidden {
	display: none !important;
}
.h-5 {
	height: 1.25rem !important;
}
.h-20 {
	height: 5rem !important;
}
.h-8 {
	height: 2rem !important;
}
.h-16 {
	height: 4rem !important;
}
.min-h-screen {
	min-height: 100vh !important;
}
.w-5 {
	width: 1.25rem !important;
}
.w-20 {
	width: 5rem !important;
}
.w-full {
	width: 100% !important;
}
.w-8 {
	width: 2rem !important;
}
.w-auto {
	width: auto !important;
}
.w-16 {
	width: 4rem !important;
}
.max-w-4xl {
	max-width: 56rem !important;
}
.max-w-xl {
	max-width: 36rem !important;
}
.max-w-6xl {
	max-width: 72rem !important;
}
.flex-1 {
	flex: 1 1 0% !important;
}
.flex-grow {
	flex-grow: 1 !important;
}
.cursor-default {
	cursor: default !important;
}
.list-inside {
	list-style-position: inside !important;
}
.list-disc {
	list-style-type: disc !important;
}
.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.grid-cols-\[1fr\2c auto\] {
	grid-template-columns: 1fr auto !important;
}
.flex-col {
	flex-direction: column !important;
}
.items-center {
	align-items: center !important;
}
.items-start {
	align-items: flex-start !important;
}
.justify-between {
	justify-content: space-between !important;
}
.justify-end {
	justify-content: flex-end !important;
}
.justify-center {
	justify-content: center !important;
}
.gap-12 {
	gap: 3rem !important;
}
.gap-4 {
	gap: 1rem !important;
}
.gap-x-4 {
	-moz-column-gap: 1rem !important;
	     column-gap: 1rem !important;
}
.gap-y-6 {
	row-gap: 1.5rem !important;
}
.space-x-6 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0 !important;
	margin-right: calc(1.5rem * var(--tw-space-x-reverse)) !important;
	margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse))) !important;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0 !important;
	margin-right: calc(1rem * var(--tw-space-x-reverse)) !important;
	margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse))) !important;
}
.overflow-hidden {
	overflow: hidden !important;
}
.whitespace-nowrap {
	white-space: nowrap !important;
}
.rounded-md {
	border-radius: 0.375rem !important;
}
.rounded {
	border-radius: 0.25rem !important;
}
.rounded-l-md {
	border-top-left-radius: 0.375rem !important;
	border-bottom-left-radius: 0.375rem !important;
}
.rounded-r-md {
	border-top-right-radius: 0.375rem !important;
	border-bottom-right-radius: 0.375rem !important;
}
.border {
	border-width: 1px !important;
}
.border-2 {
	border-width: 2px !important;
}
.border-b {
	border-bottom-width: 1px !important;
}
.border-t {
	border-top-width: 1px !important;
}
.border-r {
	border-right-width: 1px !important;
}
.border-b-2 {
	border-bottom-width: 2px !important;
}
.border-l-8 {
	border-left-width: 8px !important;
}
.border-gray-300 {
	--tw-border-opacity: 1 !important;
	border-color: rgba(214, 211, 209, var(--tw-border-opacity)) !important;
}
.border-gray-200 {
	--tw-border-opacity: 1 !important;
	border-color: rgba(231, 229, 228, var(--tw-border-opacity)) !important;
}
.border-gray-400 {
	--tw-border-opacity: 1 !important;
	border-color: rgba(168, 162, 158, var(--tw-border-opacity)) !important;
}
.border-gray-100 {
	--tw-border-opacity: 1 !important;
	border-color: rgba(245, 245, 244, var(--tw-border-opacity)) !important;
}
.bg-white {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
}
.bg-gray-100 {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(245, 245, 244, var(--tw-bg-opacity)) !important;
}
.bg-gray-50 {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(250, 250, 249, var(--tw-bg-opacity)) !important;
}
.bg-red-500 {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(215, 41, 39, var(--tw-bg-opacity)) !important;
}
.bg-red-100 {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(243, 221, 218, var(--tw-bg-opacity)) !important;
}
.bg-opacity-25 {
	--tw-bg-opacity: 0.25 !important;
}
.p-2 {
	padding: 0.5rem !important;
}
.p-1 {
	padding: 0.25rem !important;
}
.p-6 {
	padding: 1.5rem !important;
}
.p-4 {
	padding: 1rem !important;
}
.p-16 {
	padding: 4rem !important;
}
.px-4 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
.py-2 {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}
.px-2 {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}
.px-6 {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}
.py-3 {
	padding-top: 0.75rem !important;
	padding-bottom: 0.75rem !important;
}
.px-12 {
	padding-left: 3rem !important;
	padding-right: 3rem !important;
}
.py-8 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.py-4 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.px-8 {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
.py-6 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
.py-16 {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}
.pt-6 {
	padding-top: 1.5rem !important;
}
.pt-8 {
	padding-top: 2rem !important;
}
.pb-4 {
	padding-bottom: 1rem !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.font-sans {
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.font-display {
	font-family: Jost, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.text-sm {
	font-size: 0.875rem !important;
	line-height: 1.25rem !important;
}
.text-xs {
	font-size: 0.75rem !important;
	line-height: 1rem !important;
}
.text-xl {
	font-size: 1.25rem !important;
	line-height: 1.75rem !important;
}
.text-4xl {
	font-size: 2.25rem !important;
	line-height: 2.5rem !important;
}
.text-2xl {
	font-size: 1.5rem !important;
	line-height: 2rem !important;
}
.text-lg {
	font-size: 1.125rem !important;
	line-height: 1.75rem !important;
}
.text-base {
	font-size: 1rem !important;
	line-height: 1.5rem !important;
}
.font-medium {
	font-weight: 500 !important;
}
.font-bold {
	font-weight: 700 !important;
}
.font-semibold {
	font-weight: 600 !important;
}
.font-black {
	font-weight: 900 !important;
}
.uppercase {
	text-transform: uppercase !important;
}
.leading-5 {
	line-height: 1.25rem !important;
}
.leading-7 {
	line-height: 1.75rem !important;
}
.tracking-widest {
	letter-spacing: 0.1em !important;
}
.tracking-wider {
	letter-spacing: 0.05em !important;
}
.text-gray-500 {
	--tw-text-opacity: 1 !important;
	color: rgba(120, 113, 108, var(--tw-text-opacity)) !important;
}
.text-gray-700 {
	--tw-text-opacity: 1 !important;
	color: rgba(68, 64, 60, var(--tw-text-opacity)) !important;
}
.text-gray-600 {
	--tw-text-opacity: 1 !important;
	color: rgba(87, 83, 78, var(--tw-text-opacity)) !important;
}
.text-red-500 {
	--tw-text-opacity: 1 !important;
	color: rgba(215, 41, 39, var(--tw-text-opacity)) !important;
}
.text-white {
	--tw-text-opacity: 1 !important;
	color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
}
.text-red-400 {
	--tw-text-opacity: 1 !important;
	color: rgba(211, 76, 76, var(--tw-text-opacity)) !important;
}
.text-gray-200 {
	--tw-text-opacity: 1 !important;
	color: rgba(231, 229, 228, var(--tw-text-opacity)) !important;
}
.text-gray-300 {
	--tw-text-opacity: 1 !important;
	color: rgba(214, 211, 209, var(--tw-text-opacity)) !important;
}
.text-gray-400 {
	--tw-text-opacity: 1 !important;
	color: rgba(168, 162, 158, var(--tw-text-opacity)) !important;
}
.text-gray-900 {
	--tw-text-opacity: 1 !important;
	color: rgba(28, 25, 23, var(--tw-text-opacity)) !important;
}
.text-black {
	--tw-text-opacity: 1 !important;
	color: rgba(58, 26, 29, var(--tw-text-opacity)) !important;
}
.text-red-600 {
	--tw-text-opacity: 1 !important;
	color: rgba(153, 41, 39, var(--tw-text-opacity)) !important;
}
.text-green-500 {
	--tw-text-opacity: 1 !important;
	color: rgba(21, 159, 34, var(--tw-text-opacity)) !important;
}
.text-green-600 {
	--tw-text-opacity: 1 !important;
	color: rgba(58, 109, 33, var(--tw-text-opacity)) !important;
}
.underline {
	text-decoration: underline !important;
}
.antialiased {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
.opacity-50 {
	opacity: 0.5 !important;
}
.shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.ring-gray-300 {
	--tw-ring-opacity: 1 !important;
	--tw-ring-color: rgba(214, 211, 209, var(--tw-ring-opacity)) !important;
}
.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
	transition-duration: 150ms !important;
}
.duration-150 {
	transition-duration: 150ms !important;
}
.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.checked\:border-red-500:checked {
	--tw-border-opacity: 1 !important;
	border-color: rgba(215, 41, 39, var(--tw-border-opacity)) !important;
}
.hover\:bg-red-700:hover {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(122, 41, 39, var(--tw-bg-opacity)) !important;
}
.hover\:text-gray-500:hover {
	--tw-text-opacity: 1 !important;
	color: rgba(120, 113, 108, var(--tw-text-opacity)) !important;
}
.hover\:text-gray-400:hover {
	--tw-text-opacity: 1 !important;
	color: rgba(168, 162, 158, var(--tw-text-opacity)) !important;
}
.hover\:text-red-500:hover {
	--tw-text-opacity: 1 !important;
	color: rgba(215, 41, 39, var(--tw-text-opacity)) !important;
}
.hover\:no-underline:hover {
	text-decoration: none !important;
}
.focus\:z-10:focus {
	z-index: 10 !important;
}
.focus\:border-red-400:focus {
	--tw-border-opacity: 1 !important;
	border-color: rgba(211, 76, 76, var(--tw-border-opacity)) !important;
}
.focus\:outline-none:focus {
	outline: 2px solid transparent !important;
	outline-offset: 2px !important;
}
.focus\:ring:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}
.focus\:ring-0:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}
.focus\:ring-red-400:focus {
	--tw-ring-opacity: 1 !important;
	--tw-ring-color: rgba(211, 76, 76, var(--tw-ring-opacity)) !important;
}
.focus\:ring-red-700:focus {
	--tw-ring-opacity: 1 !important;
	--tw-ring-color: rgba(122, 41, 39, var(--tw-ring-opacity)) !important;
}
.active\:bg-gray-100:active {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(245, 245, 244, var(--tw-bg-opacity)) !important;
}
.active\:bg-red-900:active {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(58, 26, 29, var(--tw-bg-opacity)) !important;
}
.active\:text-gray-700:active {
	--tw-text-opacity: 1 !important;
	color: rgba(68, 64, 60, var(--tw-text-opacity)) !important;
}
.active\:text-gray-500:active {
	--tw-text-opacity: 1 !important;
	color: rgba(120, 113, 108, var(--tw-text-opacity)) !important;
}
@media (min-width: 640px) {

	.sm\:block {
		display: block !important;
	}

	.sm\:flex {
		display: flex !important;
	}

	.sm\:hidden {
		display: none !important;
	}

	.sm\:max-w-lg {
		max-width: 32rem !important;
	}

	.sm\:flex-1 {
		flex: 1 1 0% !important;
	}

	.sm\:items-center {
		align-items: center !important;
	}

	.sm\:justify-between {
		justify-content: space-between !important;
	}

	.sm\:justify-center {
		justify-content: center !important;
	}

	.sm\:justify-start {
		justify-content: flex-start !important;
	}

	.sm\:px-6 {
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}

	.sm\:pt-0 {
		padding-top: 0px !important;
	}
}
@media (min-width: 1024px) {

	.lg\:px-8 {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
}


.wrapper_Filter{
    background: gainsboro;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.wrapper_Filter form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter_item{
    margin-left: 10px;
    margin-right: 10px;
}